<div class="row">
  <%= form_for Poster.new do |f| %>
    <div class="form-group col-md-8">
      <%= f.text_area :content, placeholder: "Compose new post...", class: "form-control", rows: "3" %>
    </div>
    <%= f.submit "Post", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>