<div class="row">
  <%= form_for [@commentable, Comment.new] do |f| %>
    <div class="form-group col-md-8">
      <%= f.text_area :body, placeholder: "Add a comment", class: "form-control", rows: "3" %>
    </div>
    <%= f.submit "Add Comment", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>